.heroText{
    font-size: 625%;
    margin-top: 0;
    margin-bottom: 0;
    width: fit-content;
}

.container{
    display: flex;
    justify-content: center;
    margin-top: 4.667%;
}

.side1{
    font-family: "League Spartan";
    color: #00281E;
    text-align: center;
    width: 26.771%;
    margin-right: 7.552%;
    margin-top: 7.389%;
    display: inline;
}

.side1 ul{
    list-style-type: none;
    font-size: 312.5%;
    display: flex;
    justify-content: center;
    margin: 0;
}

#blwRen{
    padding-right: 3.981%;
    color: #014048;
}

#blw-1{
    padding-right: 4.907%;
    color: #014048;
}

#blwDez{
    padding-right: 4.167%;
    color: #01716F;
}

#blw-2{
    padding-right: 3.611%;
    color: #01846C;
}

#blwView{
    color: #52B076;
}

#cover{

}

.desc{
    font-family: "Maven Pro";
}

.gradients{
    background: linear-gradient(to right, #00281E, #005873, #018E6A,  #AFD450);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}